
@model QL_Cuahangxe.Models.XEGANMAY
@using System.Text.RegularExpressions

@{
    ViewBag.Title = "Chi tiết xe gắn máy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@helper TruncatePlainText(string input, int length)
{
    // Xóa các thẻ HTML
    string plainText = Regex.Replace(input, "<.*?>", string.Empty);

    // Hiển thị nội dung đã loại bỏ HTML
    if (plainText.Length < length)
    {
        @plainText
    }
    else
    {
        @plainText.Substring(0, length) @:<textarea>...</textarea>
    }
}

<div class="product-details">
    <h2>@Model.TenXe</h2>
    <img src="~/Hinhsanpham/@Model.Anhbia" alt="@Model.TenXe" width="300" />
    <p><strong>Hãng sản xuất:</strong> @Model.NHAPHANPHOI.TenNPP</p>
    <p><strong>Giá:</strong> @Model.Giaban</p>
    <p><strong>Mô tả:</strong> @TruncatePlainText(Model.Mota, 100)</p>
    <p>
        @if (Model.MaXe != null)
        {
            <a href="@Url.Action("ThemGioHang", "Giohang", new { iMaxe = Model.MaXe, strURL = Request.Url.ToString() })"
               style="color:white; background-color:red;">
                ĐẶT MUA
            </a>
        }
        else
        {
        <p>Không thể thêm vào giỏ hàng vì mã sách không hợp lệ.</p>
    }
        </p>
    </div>
